{% layout 'main' %} {% block main %}
<home-page class="flex flex-col w-full gap-y-8">
  <hero-space class="flex flex-col max-w-screen-lg px-8 py-10 gap-y-4">
    <h1 class="block text-5xl font-semibold tracking-wider text-transparent md:text-6xl bg-gradient-to-tr from-gray-900 to-red-800 bg-clip-text">Welcome to Starfire Command</h1>
    <p class="block text-xl">Your Destination for Nightfire Operational Updates</p>
  </hero-space>
  <announcements-snippet class="flex flex-col px-4 gap-y-2 min-h-[8rem]" x-data="announcementsSnippet">
    <h2 class="text-lg tracking-wide">Announcements</h2>
    <template x-for="a in as" :key="a.postDate">
      <announcement-card>
        <h3 class="text-2xl">Title</h3>
        <span>Author</span>
        <p>Short Snippet</p>
      </announcement-card>
    </template>
    <button x-text="`Announcements: ${totalAnnounce}`" @click="" x-show="totalAnnounce>=1"></button>
    <h3 class="w-full text-center" x-show="totalAnnounce==0">There are no Announcements</h3>
  </announcements-snippet>
  {% render 'operations-snippet' %}
</home-page>
{% endblock %}
