<header class="relative flex justify-between w-full p-4 border-b border-gray-300 shadow-md" x-data>
    <button class="p-2" @click="Turbo.navigateTo(window.location.pathname=='/'?'/operations':'/')" :disabled="!$store.login.isLoggedIn" :class="!$store.login.isLoggedIn?'text-gray-900/50':''">
      {%- render 'menu-icon' -%}
    </button>
    <h2 class="p-2 text-xl tracking-widest uppercase">Starfire</h2>
    <button class="p-2" @click="window.open('https://github.com/ekwoka/starfire-command','_blank')">
      {%- render 'github-icon' -%}
    </button>
  </header>